<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/layout/head' %>

  <body>
    <%= render 'shared/layout/navbar' %>
    <%= render 'shared/layout/flash' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
